.showcase
    display: flex
    align-items: center
    justify-content: space-evenly
    +vertical-padding(1)

.showcase__cover
    width: 50%
    img
        margin: auto
        padding: 2%
 
.showcase__body
    padding: 2%
    width: 50%
